<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--要搬移LOG檔，存在於哪個資料夾-->
    <add key ="SourceFilePath" value="C:\logs\"/>
    <!--要搬移LOG檔，要搬去哪個資料夾-->
    <add key ="TargetFilePath" value="C:\下載\"/>
  </appSettings>
</configuration>